.purple{
  color:purple;
  font-weight: bold;
}
.container-fluid {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
}

.start {
  background-image: url(../../../assets/images/Makers1.png);
}
.register{
  height: 100% !important;

}
.kezdo{
 height: 100% !important;
}
.regist{
  padding-top:7%;
}
.login{
margin-top:2%;
}
h1{
  font-size: 8vw;
  color:white;
}

